<!-- <mat-toolbar color="primary"><li class="list-inline-item active" routerLink="./dashboard" routerLinkActive='active'>Home</li>
<li class="list-inline-item" routerLink='/postcreate'>Posts</li>
</mat-toolbar> -->
<nav class="nav">
  <a class="navlist" routerLink="/dashboard" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Home</a>
  &nbsp;&nbsp;
  <a class="navlist" routerLink="/flex" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Flexs</a>
  &nbsp;&nbsp;
  <a class="navlist" routerLink="/observable" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Observable</a>
  &nbsp;&nbsp;
  <a class="navlist" routerLink="/products" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Products</a> &nbsp;&nbsp;
  <a class="navlist" routerLink="/testmodule" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Test Module</a> &nbsp;&nbsp;
  <a class="navlist" routerLink="/admin" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Admin</a> &nbsp;&nbsp;
</nav>
<h2 class="cardHover">Pipe demo  {{' Uppercase' | demo:'upper'}}</h2>
<h2 myHighlight>Pipe demo {{' Uppercase' | demo:'lower'}}</h2>

<!-- <app-alert [message]="message" *ngIf="message" (close)="CloseAlert()"></app-alert> -->
<ng-template alertHost ></ng-template>
