<!-- <mat-toolbar color="primary"><li class="list-inline-item active" routerLink="./dashboard" routerLinkActive='active'>Home</li>
<li class="list-inline-item" routerLink='/postcreate'>Posts</li>
</mat-toolbar> -->
<nav class="nav">
  <a class="navlist" routerLink="/dashboard" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Home</a>
  &nbsp;&nbsp;
  <a class="navlist" routerLink="/departments" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Departments</a>
  &nbsp;&nbsp;
  <a class="navlist" routerLink="/employees" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Employees</a>
  &nbsp;&nbsp;
  <a class="navlist" routerLink="/products" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Products</a> &nbsp;&nbsp;
</nav>
