
<div class="container1">
  <div class="">
     <div class="" style="width: 50%;">
    <form action="" width:50%>
    <div class="form-row">
      <label for="fname">First Name:</label>
      <input type="text" name="fname">
    </div>
     <div class="form-row">
           <label for="lastname">Last Name:</label>
      <input type="text" name="lastname">
     </div>
     <div class="form-row">
       <label for="favColor">Fav. Color:</label>
       <input type="text" name="favColor">
     </div>
     <div class="form-row">
       <button type="">Submit</button>
     </div>
  </form>
  </div>

  <div class="row">
    <div class="column-layout">
      <div class="main-column">
        <h2>Main Column</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, odio praesentium sapiente repellat molestias possimus optio aperiam quia nobis cupiditate quisquam officia minus ratione fuga ut ad soluta vitae sed.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla beatae neque nihil pariatur dicta porro. Recusandae quod suscipit nulla nemo. Nihil laborum, fugiat inventore voluptatibus dolorum molestias magni nostrum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quod provident, libero illum quos quas repudiandae laudantium accusamus, temporibus dolorum autem vero, in quasi similique repellendus quam eos id? Mollitia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eveniet eligendi delectus labore explicabo, dolorem deserunt cumque optio accusamus molestiae. Culpa rem corporis saepe repudiandae eos similique provident iusto labore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore deserunt, a optio animi laborum saepe temporibus mollitia praesentium nulla quo minima eius adipisci fugiat laboriosam possimus exercitationem ducimus magni quisquam.</p>
      </div>
      <div class="sidebar-one">
        <h3>Sidebar one</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis optio consequatur animi asperiores praesentium, iste illum, consequuntur ea qui commodi aliquid, eius libero quia</p>
      </div>
      <div class="sidebar-two">
        <h3>Sidebar two</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis optio consequatur animi asperiores praesentium, iste illum, consequuntur ea qui commodi aliquid, eius libero q
      </div>
    </div>
  </div>
</div>
</div>
<div class="call-outs-container">
  <div class="call-out">
    <h2>Feacher 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid voluptate, nesciunt aspernatur, unde odio molestias accusantium error obcaecati quia nisi dolores at perspiciatis quas facilis tenetur porro velit eos laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium ratione tenetur voluptatem tempora? Maiores fuga beatae qui facilis aspernatur dicta repellendus iure, animi, assumenda, aperiam necessitatibus quas eaque dolore!</p>
  </div>
  <div class="call-out">
    <h2>Feacher 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid voluptate, nesciunt aspernatur, unde odio molestias accusantium error obcaecati quia nisi dolores at perspiciatis quas facilis tenetur porro velit eos laboriosam.</p>
  </div>
  <div class="call-out">
    <h2>Feacher 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid voluptate, nesciunt aspernatur, unde odio molestias accusantium error obcaecati quia nisi dolores at perspiciatis quas facilis tenetur porro velit eos laboriosam.</p>
  </div>
</div>

<div class="firstsecond">
  <div class="first">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate placeat temporibus id dicta, accusamus rerum molestiae dolorem illum minus aliquid vitae amet deleniti officia architecto reprehenderit eligendi at quam dolor!</div>
  <div class="second">
    <div class="second-a">A</div>
    <div class="second-b">B</div>
  </div>
</div>

